<div class="news">
  <p>NEWS: The new content has come. check out KUSAYARI!!</p>
</div>
<div class="main">
  <div class="title">
    <h1>Nozomi Ishii</h1>
    <p>Dance + Art + Code = Me!!!</p>
  </div>
</div>

<div class="lab">
  <div class="title">
    <h2> - KUSAYARI - </h2>
    <p><span style="color:#f6b93b;">NEW!!</span> Fancy coming see my code lab?</p>
    <h6>毎日いいかんじなゴミページを更新していきます。そう、GitHubへの草やりです。</h6>
  </div>
  <div class="codes">
    <% @codes.each do |code| %>
      <div class="code">
        <a href="https://nozomiishii.github.io/codeLab/day<%= code.id %>" target="_blank">
          <img src="../assets/codes/day<%= code.id %>.png" alt="<%= code.id %>" >
        </a>
        <p><%= code.date %> / Day <%= code.id %></p>
        <p>- <%= code.title %> -</p>
      </div>
    <% end %>
  </div>
</div>

<div class="who">
  <div class="title">
    <h2> - Nozomi who? - </h2>
  </div>
  <%= image_tag 'profile.png', alt:"Nozomi Ishii", class: 'whophoto' %>
  <div class="whotext">
    <h1>NOZOMI ISHII</h1>
    <p>
      石井希・フロントエンドエンジニア見習い<br>
      大学在学中にイギリス、カナダ、アメリカに語学留学、大学交換留学。<br>
      卒業後、オーストラリア、ニュージーランドにワーキングホリデーでカフェでバリスタとして働く。<br>
      日本人ゼロの環境の中、ヘッドバリスタを任される。<br>
      ラテアート作りにもりもりとのめり込み2018年3月Coffee fest latte art world championshipに競技者として選出される。
      自分のカフェを開くのを夢見て、まずは自分でカフェのホームページをつくろうとプログラミングを勉強し始める。そしてハマる。<br>
      <br>
      バリスタよりプログラミングの方が楽しくなってしまったのでプログラミング学校　Le Wagon Tokyoにて Rubyを軸としたウェブアプリケーション制作を学ぶ。<br>
      Apple Summer Camp にてコーディングを小学生に教えるサポートしながらプログラミング熱が再加熱。<br>
      独学にてRubyとRailsを中心にweb page製作を学んでいます。<br>
      React, Reduxもめきめき学びにいっています。<br>
      フロントエンドに特に魅力を感じでいてawwwards.やCSS WINNERをめざして制作活動しています。<br>
      コードを書いてGitHubに草をやるのを日課にしています。
    </p>
  </div>
</div>

<div class="atelier">
  <div class="title">
    <h2> - Atelier - </h2>
  </div>
  <div class="cards">
    <div class="card">
      <a href="https://rtou.herokuapp.com/" target="_blank">
        <%= image_tag 'rtou.png', alt:"rtou", class: 'card-icon' %>
      </a>
      <p>R to U</p>
    </div>
    <div class="card">
      <a href="https://teachmeleagon.herokuapp.com/" target="_blank">
        <%= image_tag 'teachme.png', alt:"teachme", class: 'card-icon' %>
      </a>
      <p>Teach me</p>
    </div>
    <div class="card">
      <br>
      <br>
      <br>
      <p>
        ...and more coming soon. <br>
        stay tuned.
      </p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- <div class="contact-form">
  <div class="titile">
    <h2> -Contact - </h2>
  </div>
  <p>Name</p>
  <input type="text">
  <p>Email</p>
  <input type="text">
  <p>Message</p>
  <textarea name="" id="" cols="30" rows="10" >まだ送信の機能はできていません...</textarea>
  <br>
  <input class='contact-submit' type="submit" value='submit'>
</div> -->

<script>
  $(function() {
  $('h1').css('display', 'none').fadeIn(3000);
  $('.main p').css('display', 'none').fadeIn(3100);

  // titile h6 is showing up
  $('.title').hover(function(){
    $(this).find('h6').show(2000)
  });

  // code p are showing up
  $('.code').hover(function(){
    $(this).find('p').fadeIn();
  }, function(){
    $(this).find('p').fadeOut();
  });
});
</script>



