<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- twitter information -->
    <meta name="twitter:site" content="@nozomiishii_jp" />
    <meta name="twitter:title" content="nozomiishii.jp" />
    <meta name="twitter:description" content="石井希・フロントエンドエンジニア見習い"/>
    <meta name="twitter:image" content="http://www.nozomiishii.jp/assets/profile-09eea0f432c372f5bf950c9cdf0fd93c09edb89e2433cb9b2274be193ce9463b.jpg"/>
    <meta name="twitter:card" content="summary"/>

    <!-- webpage information -->
    <title>Nozomi Ishii | 石井　希</title>
    <meta name="description" content="I'm Nozomi, born and raised up in Japan. half japanese and half japanese.　のぞみです。日本人と日本人のハーフです。フロントエンドエンジニアを目指しています。">

    <!-- webpage config -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="<%= image_path 'favcon.png'%>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path 'favcon.png'%>">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>

  <header>
    <div id='logo'>
      <%= link_to("Nozomi Ishii", "/") %>
    </div>
    <ul class="header-menus">
<!--       <li>
        <%= link_to("Kusayari","/codes/index") %>
      </li> -->
<!--       <li>
        <%= link_to("About", "/about") %>
      </li> -->
      <li>
        <a href="https://twitter.com/nozomiishii_jp" target="_blank">Twitter</a>
      </li>
<!--       <li>
        <a href="https://www.instagram.com/nozomiishii.jp" target="_blank">Instagram</a>
      </li> -->
      <li>
        <a href="https://github.com/nozomiishii" target="_blank">GitHub</a>
      </li>
    </ul>
  </header>
    <%= yield %>
  <footer>
    <div class="links">
      <ul>
<!--         <li>
          <%= link_to("About", "/about") %>
        </li> -->
        <li>
          <a href="https://twitter.com/nozomiishii_jp" target="_blank">Twitter</a>
        </li>
    <!--     <li>
          <a href="https://www.instagram.com/nozomiishii.jp/" target="_blank">Instagram</a>
        </li> -->
        <li>
          <a href="https://github.com/nozomiishii" target="_blank">GitHub</a>
        </li>
      </ul>
    </div>
    <div id="tip">
      <ul>
        <li class="paypal">
          <a href="https://paypal.me/nozomiishii?locale.x=ja_JP" target="_blank">投げ銭 - Tip -</a>
        </li>
      </ul>
    </div>
    <div id="copyright">
      <p>© 2019 Nozomi Ishii</p>
    </div>
  </footer>
  <script>
    $(function() {
      $('.header-logo').css('display', 'none').fadeIn(3000);
      $('.header-menus li').css('display', 'none').fadeIn(3200);
    });
  </script>
  </body>
</html>
