<!DOCTYPE html>
<html>
  <head>
    <title>Nozomi Ishii - Frontend engineer</title>
    <meta name="description" content="I'm Nozomi, born and raised up in Japan. half japanese and half japanese.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="header-logo">
      <%= link_to("Nozomi Ishii", "/") %>
    </div>
    <ul class="header-menus">
      <li>
        <%= link_to("About", "/about") %>
      </li>
      <li>
        <a href="https://www.facebook.com/nozomi.ishii.391" target="_blank">Facebook</a>
      </li>
      <li>
        <a href="https://www.instagram.com/non_b3/?hl=ja" target="_blank">Instagram</a>
      </li>
      <li>
        <a href="https://github.com/non-b3" target="_blank">GitHub</a>
      </li>
    </ul>
  </header>
  <% if flash[:notice]%>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
